/* Pour éviter de dépendre de fonts externe */
@import 'fontawesome-all.css';
@import 'open-sans-all.css';
@import 'roboto-slab-all.css';

/* Pour la coloration syntaxique */
@import 'pygments.css';

/* Pour que les tableau ne soient pas déséquilibré */
table {
    table-layout: fixed;
}

/* Pour éviter que les images sans class «.image» déforme la mise en page */
img:not(.image){
	width: 100%;
}

.width-25 {
    width: 25%
}

.width-50 {
    width: 50%
}

.width-75 {
    width: 75%
}

/* Pour centrer les images */
.image {
    display: block;
    margin: auto;
}

a.social {
    font-size: 2em;
}

// Repris de https://github.com/jgonyea/grav-theme-editorial (correction de calcul ???)
/* Blog items listing  */

ul.blog-items {
    list-style-type: none;
    text-align: left;

    li:nth-child(even){
        background-color: _palette(bg-alt);
    }

    li a{
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
    }

    h2 {
        text-align: left;
        padding-left: 2em;
    }
    h2 + p {
        margin-bottom: 0;
    }
    p.blog-datestamp {
        padding-left: 4em;
    }
}
