{% extends "base.html" %}

{% block content %}

<!-- Main -->
  <div id="main">
      <div class="inner">
        <!-- Header -->
        {% include 'page_header.html' %}

        <!-- Content -->
            <section>
              <main>
                <header class="main">
                
                    <h1>{{ article.title }}</a></h1>
                    <p datetime="{{ article.date.isoformat() }}">
                      <span class="icon fa-calendar-alt"></span>&nbsp;{{ article.date | strftime('%d %b %Y') }}
                      {% if article.modified %} 
                        (Mis à jour le {{ article.modified|strftime('%x') }})
                      {% endif %}</span>
                      <span class="fa fa-user-pen"></span>&nbsp;{{ article.author }} 
                      <span class="fa fa-tag"></span>&nbsp;{% for tag in article.tags %}
                          {{ tag }}{{ ", " if not loop.last else "" }}
                        {% endfor %}
                    </p>
                </header>
                
                {{ article.content }}
              </main>
            </section>
            
        <!-- Pagination -->
          <hr class="major" />
          <h4>Autres articles</h4>
          <div class="pagination">
            {% if article.prev_article %}
              <a class="button previous" href="{{ SITEURL }}/{{ article.prev_article.url}}">{{ article.prev_article.title }}</a>
            {% endif %}
            {% if article.next_article %}
              <a class="button next right" href="{{ SITEURL }}/{{ article.next_article.url}}" >{{ article.next_article.title }}</a>
            {% endif %}
          </div>
          <hr class="major" />
      </div>
  </div>
  
{% endblock %}
