{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
    
<div id="main">
    <div class="inner">
        <!-- Section -->
        <section>
            <header class="major">
                <h2>Nos auteurs</h2>
            </header>
   
            <div class="features">
            {%- for author, articles in authors|sort %}
                <article>
                    <a href="{{ SITEURL }}/{{ author.url }}">
                        <span class="icon fa-user"></span>
                    </a>
                    <div class="content">
                        <a href="{{ SITEURL }}/{{ author.url }}">
                            <h3>{{ author }}</h3>
                            <p>Nombre d’article : {{ articles|count }}</p>
                        </a>
                    </div>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>
</div> 

{% endblock content %}


