<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
            {% include 'head.html' %}
    </head>

    <body class="is-preload">
            
        <div id="wrapper">
            <!-- Content -->
            {% block content %}
            {% endblock %}
            
            
            <!-- Sidebar -->
            {% include 'sidebar.html' %}
        
        </div>
        {% include "partial/ga.html" %}
        {% include "partial/ggst.html" %}
        {% include "partial/gtm.html" %}
  
        {% include "partial/guages.html" %}
        {% include "partial/addthis.html" %}
        {% include "partial/matomo.html" %}
        
        {% include "partial/stork.html" %}

        <!-- Scripts -->
        <script src="/theme/js/jquery.min.js"></script>
        <script src="/theme/js/browser.min.js"></script>
        <script src="/theme/js/breakpoints.min.js"></script>
        <script src="/theme/js/util.js"></script>
        <script src="/theme/js/main.js"></script>
        
    </body>
</html>


