{% block head %}
    <title>
        {% block title %}
            {{ SITENAME }}
        {% endblock title %}
    </title>
    
    <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico" />
    
    {% include "partial/feeds.html" %}
    
    {% assets filters="scss,cssmin", output="css/style.min.css", "sass/main.scss" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    {% assets filters="cssmin", output="css/fontawesome-all.css", "sass/fontawesome-all.css" %}
		<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
    {% assets filters="cssmin", output="css/roboto-slab-all.css", "sass/roboto-slab-all.css" %}
		<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
    {% assets filters="cssmin", output="css/open-sans-all.css", "sass/open-sans-all.css" %}
		<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
	{% endassets %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ SITEURL }}/theme/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ SITEURL }}/theme/css/ie8.css" /><![endif]-->
    
    {% if SEARCH_MODE %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/stork.css">
        <!-- link rel="stylesheet" media="screen and (prefers-color-scheme: dark)" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/stork-dark.css" -->
    {% endif %}

	<meta charset="utf-8" />
	<meta property="og:site_name" content={{ SITENAME }} />
	<meta property="og:locale" content="fr_FR" />

	{% if article is defined %}
		<meta name="type" property="og:type" content="article">
		<meta name="title" property="og:title" content="{{ article.title }}">
		<meta name="description" property="og:description" content="{{ article.description }}">
		<meta name="image" property="og:image" content="{{article.cover}}">
		<meta name="published date" property="og:article:published_time" content="{{ article.date }}">
		<meta name="author" property="og:article:author" content="{{ article.author }}">
		<meta name="category" property="og:article:section" content="{{ article.category }}">
		{% for tag in article.tags %}
    		<meta name="tags" property="og:article:tag" content="{{ tag }}" />
  		{% endfor %}
	{% endif %}
{% endblock head %}
