{% extends "base.html" %}

{% block content %}
<div id="main">
    <div class="inner">
        {% set article = articles_page.object_list[0] %}
        <!-- Header -->
        {% include 'page_header.html' %}

    <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header class="main">
                    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    <p class="date" datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%d %b %Y') }}</p>
                </header>
                <p>{{ article.summary | striptags}}</p>
                <ul class="actions">
                    <li><a href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}{% endif %}" class="button big">Suite …</a></li>
                </ul>
            </div>
            <span class="image object">
                <a href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}{% endif %}">
                    {% if  article.cover %}
                        <img src="{{ article.cover }}">
                    {% else %}
                        <img src="/theme/images/pic0{{ range(1, 10) | random }}.jpg">
                        <!--img class="image main" src="https://source.unsplash.com/random/1000x300"-->
                    {% endif %}
                </a>
            </span>
        </section>

    <!-- Liste des articles -->
        <section>
            <header class="major">
                <h2>Les autres articles</h2>
            </header>
            <div class="posts">
            {% for article in articles_page.object_list[1:DEFAULT_PAGINATION] %}
                <article>
                    <header>
                    </header>
                    <div>
                    {% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
                        <a class="image" href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}{% endif %}">
                        {% if  article.cover %}
                            <img class="image main" src="{{ article.cover }}">
                        {% else %}
                            <img class="image main" src="/theme/images/pic0{{ range(1, 10) | random }}.jpg">
                            <!--img class="image main" src="https://source.unsplash.com/random/1000x300"-->
                        {% endif %}
                        </a>
                        <h3>{{ article.title }}</h3>
                        <p>{{ article.summary }}</p>
                        <ul class="actions">
                            <li><a class="button" href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}{% endif %}">{{ ('Suite …') }}</a></li>
                        </ul>
                    {% endif %}
                    </div>
                </article>
            {% endfor %}
            </div>
        </section>
    </div>
</div> 
{% endblock content %}

