{% extends 'base.html' %}

{% block content %}
<div class="stork-wrapper">

      <input data-stork="federalist" class="stork-input" />

      <div data-stork="federalist-output" class="stork-output"></div>

    </div>
    
    
<section id="search" class="alt">
	<form action="#">
		<input type="text" name="query" id="query" placeholder="Search" data-stork="sitesearch" />
	</form>
	<div data-stork="sitesearch-output"></div>
</section>

<div data-stork="sitesearch-output"></div>
{% endblock content %} 
