{% block sidebar %}
<div id="sidebar">
	<div class="inner">

		<!-- Search -->
		{% if SEARCH_MODE  %}
			<section id="search" class="alt">
				<form action="#">
					<input type="text" name="query" id="query" autocomplete="nope" placeholder="Search" data-stork="sitesearch" />
				</form>
				<div data-stork="sitesearch-output"></div>
			</section>
		{% endif %}
		
		<!-- Menu -->
			<nav id="menu">
				<header class="major">
					<h2>Menu</h2>
				</header>
				<ul>
					<li><a href="{{ SITEURL }}/index.html">Accueil</a></li>
					<li><a href="{{ SITEURL }}/authors.html">Auteurs</a></li>
					<li><a href="{{ SITEURL }}/search.html">Recherche</a></li>
				</ul>
			</nav>

		<!-- Section -->
			<section>
				<header class="major">
					<h2>À la une</h2>
				</header>
				<div class="mini-posts">
					<article>
					{% set article = articles[0] %}
						{% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
							<a class="image" href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">
								<h3>{{ article.title }}</h3>
								
								{% if  article.cover %}
									<img class="image main" src="{{ article.cover }}">
								{% else %}
									<img class="image main" src="/theme/images/pic0{{ range(1, 10) | random }}.jpg">
									<!--img class="image main" src="https://source.unsplash.com/random/200x100"-->
								{% endif %}
                            </a>
                            
                            <p>{{ article.summary }}</p>
                            <ul class="actions">
                                <li>
									<a class="button" href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">{{ ('Suite …') }}</a>
								</li>
                            </ul>
                        {% endif %}
					</article>
				</div>
				
				{# TODO : utiliser le plugin RANDOM : https://github.com/getpelican/pelican-plugins/tree/master/random_article
				<header class="major">
					<h2>Au hasard</h2>
				</header>
				<div class="mini-posts">
					{% for i in 1,2 %}
						<article>
						{% set article = articles[1] %}
							{% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
								<h3>{{ article.title }}</h3>
								{% if  article.featured_image %}
									<img class="image main" src="{{ article.featured_image }}">
								{% else %}
									<img class="image main" src="/theme/images/pic0{{ range(1, 10) | random }}.jpg">
									<!--img class="image main" src="https://source.unsplash.com/random/200x100"-->
								{% endif %}
								<p>{{ article.summary }}</p>
								<ul class="actions">
									<li><a class="button" href="{{ SITEURL }}/{{ article.url }}{% if not DISABLE_URL_HASH %}#{{ article.slug }}{% endif %}">{{ ('Suite …') }}</a></li>
								</ul>
							{% endif %}
						</article>
					{% endfor %}
				</div>
				#}
			</section>

		<!-- Section -->
			{% if ABOUT or CONTACT %}
			<section>
				<header class="major">
					<h2>A propos</h2>
				</header>
				{% if ABOUT  %}
				<p>{{ ABOUT }}</p>
				{% endif %}
								
				{% if CONTACT %}
				<ul class="contact">
					{% for name, text in CONTACT %}
					<li class="icon solid fa-{{ name }}">
						{{ text }}
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</section>
			{% endif %}

		<!-- Section -->
			{% if SOCIAL or FEED_RSS %}
			<section>
				<header class="major">
					<h2>Suivez nous</h2>
				</header>
				{% for name, link in SOCIAL %}
					<a class="social icon brands fa-{{ name }}" href="{{ link }}"></a>
				{% endfor %}
				{% if FEED_RSS %}
					<a class="social icon solid fa-rss" href="{{ FEED_RSS }}">&nbsp;</a>
				{% endif %}
			</section>
			{% endif %}
			
		<!-- Footer -->
			<footer id="footer">
				<p class="copyright">
					&copy; {{ SITENAME }}. Tous droits réservés. <br/>
					Hors mention contraire, tous les textes sont sous licence : <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr" alt="Licence"><img class="image" src="/theme/images/CC-BY-NC-SA.png" /></a>
				</p>
				<p class="copyright">
					Images: <a href="https://unsplash.com">Unsplash</a>. <br/>
					Design: <a href="https://html5up.net/editorial">HTML5 UP</a>
					Fièrement propulsé par <a href="http://getpelican.com/">Pelican</a>
				</p>
			</footer>

	</div>
</div>
{% endblock sidebar %}
