 
<ul class="icons">
    <li><a href="mailto:?Subject=Super%20article%20:%20{{article.title}}&Body=Salut,%0AIl%20faut%20que%20tu%20lises%20cet%20article.%0A{{ SITEURL }}/{{ article.url }}" class="icon fa-envelope"><span class="label">email</span></a></li>
    
    {% for name, link in SHARE %}
        <li><a class="icon brands fa-{{ name }}" href="{{ link }}{{ SITEURL }}/{{ article.url }}"><span class="label">{{ name }}</span></a></li>
    {% endfor %}
</ul>

