{% if SEARCH_MODE %}
	<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/stork.js"></script>
	<script>
		stork.initialize("{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/stork.wasm")
		stork.downloadIndex("sitesearch", "{{ SITEURL }}/search-index.st")
		stork.attach("sitesearch")
	</script>
{% endif %}
